doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Welcome to Roonaland!
        meta(name="description" content="A site for Roo to show her art and work")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='stylesheet' type='text/css' href="style/style.css")
    body
        header
            h1 Roonaland
        main
            img(src='img/poppy-picture.png' alt="a brown, lop eared rabbit with a speech bubble which reads Hi, welcome to Rooby's website! Check back later to see the beautiful things she's making!")